@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;

    /* Arabic */
    /* font-family: 'Tajawal', sans-serif; */

    /* English */
    font-family: 'Barlow', sans-serif; 
}

:root {
    --bg-color-body: #f2f2fc;
    --bg-color-first: #37b182;
    --bg-color-second: #e8dfec;
}

body { 
    background-color: var(--bg-color-body)
}
.hidden {
    display: none !important;
  }

/* Header Start */
.container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bg-color-first);
}

.logo {
    font-size: xx-large;
    font-weight: bolder;
    margin: 20px 0 20px 0;
    cursor: pointer;

}

.navbar-item ul {
    display: flex;

}
.navbar-item ul li a{
    display: inline-block;
    padding: 10px 25px;
    margin: 0px 8px;
    cursor: pointer;
    border-radius: 10px;
    font-size: large;
    text-decoration: none;
    color: black;
    font-weight: 800;
}


.navbar-item ul li a.active,
.navbar-item ul li a:hover {
    position: relative;
    background-color: var(--bg-color-second);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}


.sub-menu {
    padding: 0 5px;
    width: 130px;
    display: none;
    position: absolute;
    background-color: var(--bg-color-second);
    margin-left: 15px;
    border: 1px solid var(--bg-color-first);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}



.sub-menu ul {
    position: relative;
    display: block;
    
}
.sub-menu ul li {
    border-bottom: 1px solid var(--bg-color-first);
    margin: 5px 0px;
}

.sub-menu ul li a {
    width: 95%;
    margin: 0 5px 0 5px;
    padding: 6px;
    font-weight: 600;
}
.sub-menu ul li a:hover {
    background-color: none;
    color: var(--bg-color-first);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.sub-menu ul li:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}


.fa-solid {
    margin-right: 5px;
    font-size: 14px;
}

.fa-caret-down {
    margin-right: 0;
    margin-left: 5px;

}

.fa-caret-down.active {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);

}
/* Header End */



/* toggle Start */

#toggle {
    position: relative;
    width: 40px;
    height: 40px;
    /* background-color: var(--bg-color-first); */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

#toggle::before {
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background-color: white;
    box-shadow: 0 10px 0 white;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}

#toggle::after {
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background-color: white;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
}


#toggle.active::before {
    background-color: #f7226a;
    box-shadow: 0 0 0 #f7226a;
    transform: translateY(0px) rotate(45deg);
    -webkit-transform: translateY(0px) rotate(45deg);
    -moz-transform: translateY(0px) rotate(45deg);
    -ms-transform: translateY(0px) rotate(45deg);
    -o-transform: translateY(0px) rotate(45deg);
}

#toggle.active::after {
    background-color: #f7226a;
    transform: translateY(0px) rotate(-45deg);
    -webkit-transform: translateY(0px) rotate(-45deg);
    -moz-transform: translateY(0px) rotate(-45deg);
    -ms-transform: translateY(0px) rotate(-45deg);
    -o-transform: translateY(0px) rotate(-45deg);
}

/* toggle End */


/* Media Start */

@media only screen and (max-width: 576px) {
    .logo {
        margin-right: auto;
        margin-left: auto;
    }
    .navbar-item {
        width: 100vw !important;
    }
  }
  



  
  @media only screen and (min-width: 577px) and (max-width: 768px), (max-width: 576px) {
    .navbar-item {
        display: none;
    }
    .container {
        justify-content: space-between;
        padding-right: 10px;
        padding-left: 10px;
    }
    .logo {
        font-size: x-large;
        margin-left: 30px;
    }

    .navbar-item {
        width: 220px;
        position: absolute;
        padding-top: 80px;
        top: 0;
        right: 0;
        background-color: var(--bg-color-second);
        min-height: 100vh;
        z-index: 1;
    }
    .navbar-item ul {
        flex-direction: column;
    }
    .navbar-item ul li {
        border-bottom: 1px solid var(--bg-color-first);
        margin-bottom: 10px;
    }
    .navbar-item ul li a:hover {
        background-color: none;
        color: var(--bg-color-first);
    }
    .fa-caret-down {
       float: right;
       margin-top: 5px;
    }

    .navbar-item ul li a{
        display: block;
        padding: 10px 25px;
        font-size: medium;
        text-decoration: none;
        color: black;
        margin-right: 0;
        margin-left: 0;
        font-weight: 800;
    }

    .sub-menu {
        background-color: var(--bg-color-first);
        padding: 0 10px;
        width: 103%;
        left: -16px;
        border-radius: 0 0 5px 5px;
        -webkit-border-radius: 0 0 5px 5px;
        -moz-border-radius: 0 0 5px 5px;
        -ms-border-radius: 0 0 5px 5px;
        -o-border-radius: 0 0 5px 5px;
    }


    .sub-menu ul li a:hover {
        background-color: var(--bg-color-first);
        color: white;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;

}

    .sub-menu ul li a{
        border-bottom: 1px solid var(--bg-color-second);
        font-size: medium;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
    .sub-menu ul li:last-child a {
        border-bottom: 0;
    }
  }
  


  @media only screen and (min-width: 769px) and (max-width: 992px) {
    .container {
        flex-direction: column;
    }
    .logo {
        width: 80%;
        border-bottom: 1px solid var(--bg-color-second);
        text-align: center;
        margin-top: 6px;
        margin-bottom: 10px;
        padding-bottom: 5px;
        font-size: x-large;
    }
    .navbar-item {
        margin-bottom: 10px;
    }
    .fa-solid {
        font-size: 12px;
    }
    .navbar-item ul li a {
        font-size: medium;
        padding: 5px 15px;
        margin: 0px 8px;
    }
    .sub-menu ul li a {
        padding: 4px;
    }

    .sub-menu {
        width: 100px;
    }
  }



  @media only screen and (min-width: 993px) and (max-width: 1200px) {
    .logo {
        font-size: x-large;
    }
    .fa-solid {
        font-size: 12px;
    }
    .navbar-item ul li a {
        font-size: medium;
        padding: 5px 15px;
        margin: 0px 8px;
    }
    .sub-menu ul li a {
        padding: 4px;
    }

    .sub-menu {
        width: 100px;
    }
  }


/* Media End */