@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;

    /* Arabic */
    /* font-family: 'Tajawal', sans-serif; */

    /* English */
    font-family: 'Barlow', sans-serif; 
}

:root {
    --bg-color-body: #f2f2fc;
    --bg-color-first: #37b182;
    --bg-color-second: #e8dfec;
}

body { 
    background-color: var(--bg-color-body)
}
.hidden {
    display: none !important;
  }

/* Header Desktop Start */
.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color-first);
}

.logo {
    font-size: xx-large;
    font-weight: bolder;
    margin: 20px 0px 20px 40px;
    cursor: pointer;

}

.navbar-item ul {
    margin-right: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-item ul li a{
    /* border: 1px solid; */
    display: inline-block;
    padding: 10px 25px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid var(--bg-color-first);
    border-radius: 10px;
    font-size: large;
    text-decoration: none;
    color: black;
    font-weight: 600;
}


.navbar-item ul li a:hover {
    background-color: var(--bg-color-second);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.navbar-item ul li a.active {
    background-color: var(--bg-color-second);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

/* Header Desktop End */



/* toggle Start */

#toggle {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: var(--bg-color-first);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

#toggle::before {
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background-color: var(--bg-color-second);
    box-shadow: 0 10px 0 var(--bg-color-second);
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}

#toggle::after {
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background-color: var(--bg-color-second);
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
}

#toggle.active {
    background: #f7226a;
}

#toggle.active::before {
    transform: translateY(0px) rotate(45deg);
    -webkit-transform: translateY(0px) rotate(45deg);
    -moz-transform: translateY(0px) rotate(45deg);
    -ms-transform: translateY(0px) rotate(45deg);
    -o-transform: translateY(0px) rotate(45deg);
    box-shadow: 0 0 0 var(--bg-color-second);
}

#toggle.active::after {
    transform: translateY(0px) rotate(-45deg);
    -webkit-transform: translateY(0px) rotate(-45deg);
    -moz-transform: translateY(0px) rotate(-45deg);
    -ms-transform: translateY(0px) rotate(-45deg);
    -o-transform: translateY(0px) rotate(-45deg);
}

/* toggle End */
